doctype html
head
  meta(charset='UTF-8')
  title Stock Registration
  link(rel='stylesheet' href='/css/stock.css')
.container
  form.stock-form(action='/stock' method='post')
    h2 Register New Stock
    input(type='text' name='productName' placeholder='Product Name' required='')
    input(type='text' name='productCode' placeholder='Product Code / ID' required='')
    input(type='number' name='quantity' placeholder='Quantity Added' required='')
    input(type='number' name='buyingPrice' placeholder='Buying Price' required='')
    input(type='number' name='sellingPrice' placeholder='Selling Price' required='')
    input(type='date' name='date' required='')
    button(type='submit') Add Stock
