<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Stock Registration</title>
    <link rel="stylesheet" href="/css/stock.css" />
  </head>
  <body>
    <div class="container">
      <form class="stock-form" action="/stock" method="post" >
        <h2>Register New Stock</h2>

        <input
          type="text"
          name="productName"
          placeholder="Product Name"
          required
        />

        <input
          type="text"
          name="productCode"
          placeholder="Product Code / ID"
          required
        />

        <input
          type="number"
          name="quantity"
          placeholder="Quantity Added"
          required
        />

        <input
          type="number"
          name="buyingPrice"
          placeholder="Buying Price"
          required
        />

        <input
          type="number"
          name="sellingPrice"
          placeholder="Selling Price"
          required
        />

        <input type="date" name="date" required />

        <button type="submit">Add Stock</button>
      </form>
    </div>
  </body>
</html>
